<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <link rel="icon" href="https://vignette.wikia.nocookie.net/animalcrossing/images/e/e8/Crucian_Carp_HHD_Icon.png/revision/latest?cb=20161105194656">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>
</head>

<body>
    <div class="container">

        <div>
            <img src="https://vignette.wikia.nocookie.net/logopedia/images/a/a6/Play_music_triangle.svg.png/revision/latest?cb=20160419085127"
                alt="" class="center-block">
        </div>

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-headphones"></span> Song Key Finder</h1>

            <br>

            <p>Login or Register with:</p>
            <div class="form-inline">
                <a href="/login" class="btn btn-default">
                    <span class="fa fa-user"></span> LOCAL LOGIN</a>
                <a href="/signup" class="btn btn-default">
                    <span class="fa fa-user"></span> LOCAL SIGNUP</a>
            </div>
            <br>
            <div class="form-inline">
                <a href="/database_for_users" class="btn btn-primary">
                    <span class="fa fa-user"></span> PUBLIC ACCESS</a>
                <a href="/database_for_admin" class="btn btn-danger">
                    <span class="fa fa-user"></span> ADMIN ACCESS</a>
            </div>
        </div>

    </div>
</body>

</html>