<!DOCTYPE html>
<html lang="en" ng-app="song_app">

<head>
    <title>Music Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
    <link rel="icon" href="https://vignette.wikia.nocookie.net/animalcrossing/images/e/e8/Crucian_Carp_HHD_Icon.png/revision/latest?cb=20161105194656">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- Navbar Container -->
        <div class="container">

            <!-- Navbar Header [contains both toggle button and navbar brand] -->
            <div class="navbar-header">
                <!-- Toggle Button [handles opening navbar components on mobile screens]-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded
                    "false">
                    <i class="glyphicon glyphicon-align-center"></i>
                </button>

                <!-- Navbar Brand -->
                <a href="#" class="navbar-brand">
                    Search
                </a>
            </div>

            <!-- Navbar Collapse [contains navbar components such as navbar menu and forms ] -->
            <div class="collapse navbar-collapse" id="exampleNavComponents">

                <!-- Navbar Form -->
                <form action="#" class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Artist or song name">
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>POPULAR SONGS IN MODERN HISTORY</h1>
        <h3>Create a new entry</h3>
        <form>
            <input type="text" placeholder="artist name" ng-model="input_artist">
            <input type="text" placeholder="song name" ng-model="input_song_name">
            <input type="text" placeholder="youtube link" ng-model="input_youtube_link">
            <select ng-controller="all_songs" ng-model="input_key_of_song">
                <option value="" disable selected ng-repeat="key in key_of_song" >{{key}}</option>
            </select>
            <select ng-controller="all_songs" ng-model="input_genre">
                <option value="" disable selected ng-repeat="genre in genres">{{genre}}</option>
            </select>
            <select ng-controller="all_songs" ng-model="input_year_of_release">
                <option value="" disable selected ng-repeat="year in year_of_release">{{year}}</option>
            </select>
            <button ng-click="create()">CREATE</button>
        </form>
        <br>
        <table class="table" ng-controller="all_songs">
            <thead>
                <tr>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>Artist</th>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>Song name</th>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>YouTube link</th>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>Key of song</th>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>Genre</th>
                    <th ng-click='sortColumn("sno")' ng-class='sortClass("sno")'>Year of release</th>
                </tr>
            </thead>
            <tbody ng-repeat="song in songs">
                <tr>
                    <td>
                        <a href="{{song.artist}}" target="_blank">{{song.artist}}</a>
                    </td>
                    <td>
                        {{song.song_name}}
                    </td>
                    <td>
                        <a href="{{song.youtube_link}}" target="_blank">View</a>
                    </td>
                    <td>
                        {{song.key_of_song}}
                    </td>
                    <td>
                        {{song.genre}}
                    </td>
                    <td>
                        {{song.year_of_release}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>